.Card{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.Card.w4h5{
    grid-column: span 4;
    grid-row: span 5;
}
.Card.w8h5{
    grid-column: span 8;
    grid-row: span 5;
}
.Card.w3h3{
    grid-column: span 3;
    grid-row: span 3;
}
.Card.w4h4{
    grid-column: span 4;
    grid-row: span 4;
}
.Card.w4h9{
    grid-column: span 4;
    grid-row: span 9;
}
.Card.w8h2{
    grid-column: span 8;
    grid-row: span 2;
}