.Location{
    position: absolute;
    top: 0;
    height: 100%;
}
.Location__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Location__content{
    position: relative;
    padding: 2em;
}
.Location__text{
    color: white;
}