body{
  background-color: #EAEAEA;
  padding: 3em;
}

.Cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 76px;
  gap: 1.5em;
}

.Category{
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 1000;
}